In [ ]:
import requests
import pandas as pd
from splinter import Browser
from bs4 import BeautifulSoup
import pymongo

# Mac Users

In [ ]:
# https://splinter.readthedocs.io/en/latest/drivers/chrome.html
!which chromedriver

In [3]:
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

# Windows Users

In [4]:
# executable_path = {'executable_path': 'chromedriver.exe'}
# browser = Browser('chrome', **executable_path, headless=False)

#Nasa Mars News

In [5]:
url = 'https://mars.nasa.gov/news/'
browser.visit(url)

In [6]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [7]:
#scrape for lates news title and paragraph 

news_title= soup.find_all("div", class_="content_title")[0].text
news_p= soup.find_all("div", class_="article_teaser_body")[0].text


print(f'Latest News Title: {news_title}')
print(f'Latest News Paragraph: {news_p}')

Latest News Title: Mars Now
Latest News Paragraph: It's the first time machine learning has been used to find previously unknown craters on the Red Planet.

# JPL Mars Space Images - Featured Image

In [8]:
site_url='https://www.jpl.nasa.gov'
image_url='https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'

In [9]:
browser.visit(image_url)

In [10]:
#find full image 
full_image= browser.find_by_id("full_image")
full_image.click()
#access click buytton
browser.is_element_present_by_text("more info", wait_time=2)

more_info=browser.links.find_by_partial_text("more info")
more_info
more_info.click()

In [11]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [12]:
path=soup.select_one('figure.lede a img').get("src")

featured_image_url= site_url + path

print(featured_image_url)

https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA19977_hires.jpg

# Mars Facts

In [13]:
table=pd.read_html('https://space-facts.com/mars/')[0]

In [14]:
table.head()

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)

In [15]:
table.columns=['description','mars']
table.head()

            description                           mars
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)

In [16]:
mars_table=table.to_html(index=False)

In [17]:
mars_table.replace('\n', '')
print(mars_table)

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>description</th>
      <th>mars</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Equatorial Diameter:</td>
      <td>6,792 km</td>
    </tr>
    <tr>
      <td>Polar Diameter:</td>
      <td>6,752 km</td>
    </tr>
    <tr>
      <td>Mass:</td>
      <td>6.39 × 10^23 kg (0.11 Earths)</td>
    </tr>
    <tr>
      <td>Moons:</td>
      <td>2 (Phobos &amp; Deimos)</td>
    </tr>
    <tr>
      <td>Orbit Distance:</td>
      <td>227,943,824 km (1.38 AU)</td>
    </tr>
    <tr>
      <td>Orbit Period:</td>
      <td>687 days (1.9 years)</td>
    </tr>
    <tr>
      <td>Surface Temperature:</td>
      <td>-87 to -5 °C</td>
    </tr>
    <tr>
      <td>First Record:</td>
      <td>2nd millennium BC</td>
    </tr>
    <tr>
      <td>Recorded By:</td>
      <td>Egyptian astronomers</td>
    </tr>
  </tbody>
</table>

# Mars Hemispheres

In [64]:
main_url='https://astrogeology.usgs.gov'
hem_url='https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
browser.visit(hem_url)

In [65]:
html = browser.html
# Parse HTML with Beautiful Soup
soup = BeautifulSoup(html, 'html.parser')
# Retrieve all elements that contain book information
hems=soup.find('div',class_='collapsible results')
articles = soup.find_all('div', class_='item')

In [74]:


image_urls = []

# Iterate through each hemisphere data
for article in hems:
    hem_article = soup.find('div', class_="description")
    link=hemisphere.a['href']
    title=hem_article.h3.text
    full_link=main_url+link
    browser.visit(full_link)
    html = browser.html
    soup = BeautifulSoup(html, 'html.parser')
    hem_images=soup.find('div', class_='dowloads')
    image_list=soup.find('li').a['href']
  
    image_dict = {}
    image_dict['title'] = title
    image_dict['img_url'] = image_list
    
    image_urls.append(image_dict)

print(hemisphere_image_urls)

[{'title': 'Cerberus Hemisphere Enhanced', 'img_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg'}, {'title': 'Schiaparelli Hemisphere Enhanced', 'img_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg'}, {'title': 'Syrtis Major Hemisphere Enhanced', 'img_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg'}, {'title': 'Valles Marineris Hemisphere Enhanced', 'img_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg'}]